<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

<p>
    Splurty was built by <a target="_blank" href="http://github.com/lukekulas">Luke</a>. A web developer who wants to live everyday porrada.
  </p>
  <br />
  <p>
    A geological engineer turned web developer who wants to apply the Jiu Jitsu lifestyle on the mats and online!
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'luke.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Luke Calubaquib</h2>
      <br />
      <p>
        Luke Calubaquib is a web developer that is creating a life he doesn't need a vacation from. Martial artist. Lover of life. Explorer. Life long student.
      </p>
    </div>
  </div>
  <br class="clear" />
  <br />
  <br />
  <br />
  <br />




</div>

